* { /*Ok*/
    margin: 0;
    padding: 0;
    background-color: rgb(226, 223, 223);
    
}
header { /*Ok*/
    background-color:#034892;
    color: #fff;
    padding: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


#logo img{ /*Ok*/
    right: 50px;
    height: 50px;
    background-color:#034892;
}

header a{ /*Ok*/
    right: 50px;
    height: 50px;
    background-color:#034892;
}


header h1{ /*Ok*/
    background-color:#034892;
}

header h1 p{ /*Ok*/
    background-color:#034892;
}

#divBusca{
    background-color:#034892;
}

.menus{
    background-color:#034892;
}

.menus p{
    background-color:#034892;
}


.menus img{ /*Ok*/
    right: 30px;
    height: 30px;
    margin-bottom: 20px;
    background-color:#034892;
   
}


main {
    margin: 0 30px;
}

.titulos {    
    margin: 10px 5px;
}


.subtitulos {
    margin: 40px
}

.videos{
    margin: 40px;
    margin-right: 40px;
}


.produtos {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    margin: 30px;
}

.imagens {
    display: flex;
    flex-direction: column; /* conteúdo vertical dentro de cada imagem */
    width: 200px; 
    height: auto;
    display: block;
}

.imagens button {
    background-color: rgb(168, 167, 167);
}


.imagens img{
    width: 200px;
    height: auto;
    display: flex;

}

.menus a{
    color: white;
    font-size: 20px;
}
